:root{
  --h00:36px;
  --h0:26px;
  --h1:15px;
  --h2:11px;

  --h3:1.25px;
  --h4:1px;
  --h5:.875px;
  --h6:.75px;

  --space-1:4px;
  --space-2:8px;
  --space-3:10px;
  --space-4:16px;

  --border-width: 1px;

  --width-1:24px;
  --width-2:32px;
  --width-3:48px;
  --width-4:64px;
}
.base {
  width: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  color: black;
  background-color: white;
}
.border{
  border-style:solid;
  border-width:1px;
}
